/* 
    linear-gradient: 用这个 函数加上 background 可以 实现 条纹背景
    
    对于 linear-gradient 函数 详细解释：
     linear-gradient(direction,color-stop1, color-stop2,...);
     direction:是指 线性 渐变的 方向，默认 是从 上 到下(180deg),0deg 为 下 --> 上, 90deg 为 左 --> 右；
     color-stop1:是 起止颜色，这项 可以加 两个值 （百分比 颜色,百分比 颜色,...）,相对 的 百分比 是对于 background-size来说
*/
/* 对于 linear-gradient 的 值 起止 值的 理解 还有点问题 */
.stripe-bg{
    width:20em;
    height:10em;
    background:linear-gradient(45deg,#fb3 25%,#58a 0,#fb3 50%,#58a 0);
    background-size:30px 30px;
}