.parent{
    height:10em;
    border:1px solid #ddd;
    text-align:center;
}
.child{
    background:#f00;
    width:5em;
    height:1em;
}
.parent::after, .child{
    display:inline-block;
    vertical-align:middle;
}
.parent::after{
    content:'';
    height:100%;
}

.parent1{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    width:15em;
    margin-top:1em;
    border:1px solid #ddd;
    height:4em;
}
.child1{
    display:inline;
}